<connectionStrings>
  <add name="Commands" connectionString="mongodb://usersvoice_commands:usersvoice_2016@ds055945.mongolab.com:55945/appharbor_9bgbjt7x" />
  <add name="Queries" connectionString="mongodb://usersvoice_queries:usersvoice_2016@ds055915.mongolab.com:55915/appharbor_58srwq9l" />
</connectionStrings>