<connectionStrings>
  <add name="Commands" connectionString="mongodb://usersvoice_commands:usersvoice_2016@ds055945.mongolab.com:55945/appharbor_9bgbjt7x" />
  <add name="Queries" connectionString="mongodb://usersvoice_queries:usersvoice_2016@ds055865.mongolab.com:55865/appharbor_jkh2f886" />
</connectionStrings>